[submodule "src/Utils"]
	path = src/Utils
	url = https://github.com/CookiePLMonster/ModUtils.git
	ignore = dirty
[submodule "src/Injector"]
	path = src/Injector
	url = https://github.com/ThirteenAG/injector
	ignore = dirty
