@charset "UTF-8";

*{
    box-sizing: border-box;
}

h1{
    margin-bottom: 0;
}

p{
    margin-top: 0;
}

span{
    display: inline-block;
    width: 15em;
}

input[type="button"]{
    min-width: 9em;
}

fieldset{
    margin: 0;
    margin-bottom: 1em;
    position: relative;
}

label{
    display: block;
    margin-bottom: 0.5em;
}

textarea{
    display: block;
    width: 100%;
}

#output{
    float: left;
    width: 60%;
    margin-right: 1em;
}

input[name="comma"]{
    position: absolute;
    right: 1em;
}
